
<div class="container">
  <form #form="ngForm" novalidate>
    <div class="form-group">
      <select class="form-control" name="gameYear" [(ngModel)]="activeYear" (ngModelChange)="onChange()">
        <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
      </select>
      <select class="form-control" name="gameWeek" [(ngModel)]="activeWeek" (ngModelChange)="onChange()">
        <option *ngFor="let week of weeks" [ngValue]="week">{{ week.text }}</option>
      </select>
    </div>
  </form>
  <div class="row">
    <div class="home-team">Home</div>
    <div class="away-team">Visitor</div>
  </div>
  <grid-row [inputGame]="game" *ngFor="let game of nflGames"></grid-row>
</div>

<style>
  .form-control {
    width: 49%;
    display: inline-block;
  }
  .row {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .home-team {
    float: left;
    width: 50%;
  }
  .away-team {
    float: right;
    width: 50%;
  }
</style>
