<div class="row" (click)="redirectToCharts()">
  <div class="team-wrapper-left">
    <div class="home-team">{{ game.home.name }}</div>
    <img [src]=homeFullPath />
  </div>
  <div class="team-wrapper-right">
    <div class="away-team">{{ game.visitor.name }}</div>
    <img [src]=awayFullPath />
  </div>
</div>
<style>
  .row {
    background-color: beige;
    border-bottom: solid 1px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    opacity: .6;
  }
  .row:hover {
    opacity: 1;
  }
  .team-wrapper-left {
    float: left;
    width: 50%;
    margin-top: 20px;
  }
  .team-wrapper-right {
    float: right;
    width: 50%;
    margin-top: 20px;
  }
  img {
    height: 35px;
    margin-top: 5px;
  }
</style>
