<div class="container">
  <div class="chart-row">
    <div class="offensive-rushing-column">
      <h1>{{awayTeam.name}} vs. {{homeTeam.name}} Rushing</h1>
      <offensive-rush [offensiveTeam]="homeTeam" [defensiveTeam]="awayTeam"></offensive-rush>
    </div>
    <div class="offensive-rushing-column">
      <h1>{{homeTeam.name}} vs. {{awayTeam.name}} Rushing</h1>
      <offensive-rush [offensiveTeam]="awayTeam" [defensiveTeam]="homeTeam"></offensive-rush>
    </div>
  </div>
</div>

<style>
  h1 {
    font-size: 18px;
    text-align: center;
  }
</style>
