<!--<h3>
  Angular 2 Seed
</h3>
<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
</nav>-->

<main>
  <app-header></app-header>
	<router-outlet></router-outlet>
</main>
